fastapi
uvicorn[standard]
python-dotenv
gunicorn
# Telegram
aiogram==3.22.0

# Redis + MySQL
redis>=5.0.0
aiomysql>=0.2.0

# Audio + AI
httpx
pytz>=2024.1

# Payments
yookassa>=3.5.0

# Очереди задач
arq==0.26.3
